<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JForum - Powering Communities</display-name>
  <description>Open Source Java Forum Software</description>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         C:\\Users\\shagayaraj\\Documents\\Tina\\webtechlab\\Ideation\\WebContent
     </param-value>
  </context-param>
  <filter>
    <filter-name>clickstream-jforum</filter-name>
    <filter-class>net.jforum.util.legacy.clickstream.ClickstreamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>clickstream-jforum</filter-name>
    <url-pattern>*.page123</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>net.jforum.ForumSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>jforum</servlet-name>
    <servlet-class>net.jforum.JForum</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>install</servlet-name>
    <servlet-class>net.jforum.InstallServlet</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DisplayIdea</servlet-name>
    <servlet-class>controller.DisplayIdea</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Approving</servlet-name>
    <servlet-class>controller.Approving</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Reviewing</servlet-name>
    <servlet-class>controller.Reviewing</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>SendMes</servlet-name>
    <servlet-class>controller.SendMes</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>SubmitIdea</servlet-name>
    <servlet-class>controller.SubmitIdea</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DeleteMsg</servlet-name>
    <servlet-class>controller.DeleteMsg</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Message_Notify</servlet-name>
    <servlet-class>controller.Message_Notify</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DeleteIdea</servlet-name>
    <servlet-class>controller.DeleteIdea</servlet-class>
    <init-param>
      <param-name></param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>install</servlet-name>
    <url-pattern>/install/install.page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jforum</servlet-name>
    <url-pattern>*.page</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayIdea</servlet-name>
    <url-pattern>/extractidea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Approving</servlet-name>
    <url-pattern>/approving</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reviewing</servlet-name>
    <url-pattern>/Reviewing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMes</servlet-name>
    <url-pattern>/sendmes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitIdea</servlet-name>
    <url-pattern>/submitidea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMsg</servlet-name>
    <url-pattern>/deletemsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Message_Notify</servlet-name>
    <url-pattern>/Message_Notify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteIdea</servlet-name>
    <url-pattern>/deleteidea</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <display-name>Ideation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>